In [1]:
# string based practice questions

In [2]:
#1
a="vishwajeet"
a[::-1]

'teejawhsiv'

In [3]:
#2

def isPalindrome(s):
    a == a[::-1]
 
 
a = "vishwajeet"
ans = isPalindrome(a)
 
if ans:
    print("Yes")
else:
    print("No")

No

In [4]:
#3

a.upper()

'VISHWAJEET'

In [5]:
#4

a.lower()

'vishwajeet'

In [6]:
a

'vishwajeet'

In [7]:
#5 and #6

string=input("Enter string:")
vowels=0
consonants=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' ):
            vowels=vowels+1
      else:
            consonants=consonants+1
print("Number of vowels are:",vowels)
print("The number of consonants are:",consonants)

Enter string: vishwajeet

Number of vowels are: 4
The number of consonants are: 6

In [8]:
#7

a1 = "v i s h w a j e e t"

In [9]:
a1.replace(" ","")

'vishwajeet'

In [10]:
#8

str=input()
print(len(str))

 vishwajeet

10

In [11]:
#9

if 'h' in 'vishwajeet':
    print('true')
else:
    print('False')

true

In [12]:
#10

a1.replace( 'e','t')

'v i s h w a j t t t'

In [13]:
#11

a1

'v i s h w a j e e t'

In [14]:
a1.count('e')

2

In [15]:
#12

a1.find('e')

14

In [16]:
#13

a1.index('t')

18

In [17]:
#14

a1.split()

['v', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [18]:
# 15

a1.replace(" ", "")

'vishwajeet'

In [19]:
#16

string = "My name is vishwajeet singh"

new_str = string.replace(" ", "_")

print(new_str)

My_name_is_vishwajeet_singh

In [20]:
#17

a

'vishwajeet'

In [21]:
a.startswith( 'Life' )

False

In [22]:
#18
a

'vishwajeet'

In [23]:
a.endswith( 'beautiful' )

False

In [2]:
#19

t = " my name is vishwajeet singh"

In [3]:
t.title()

' My Name Is Vishwajeet Singh'

In [22]:
#20

l = ["My","Name","vishwajeet","singh"]
longest_word = max(l,key=len)
print(longest_word)

vishwajeet

In [3]:
#21

l = ["My","Name","vishwajeet","singh"]
shortest_word = min(l,key=len)
print(shortest_word)

My

In [20]:
#22

string = "my name is vishwajeet singh"

s = string.split()[::-1]
l = []
for i in s:
    
    l.append(i)

print(" ".join(l))

singh vishwajeet is name my

In [26]:
#23

a.isalnum()

False

In [40]:
#24

inp_str = "1,2,23,25,vishwajeet"

print("Original String : " + inp_str)
num = ""
for c in inp_str:
    if c.isdigit():
        num = num + c
print("Extracted numbers from the list : " + num)

Original String : 1,2,23,25,vishwajeet
Extracted numbers from the list : 122325

In [41]:
#25

inp_str = "1,2,23,25,vishwajeet"

print("Original String : " + inp_str)
num = ""
for c in inp_str:
    if c.isalpha():
        num = num + c
print("Extracted numbers from the list : " + num)

Original String : 1,2,23,25,vishwajeet
Extracted numbers from the list : vishwajeet

In [55]:
#26 & #27

def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('My name is vishwajeet singh')

Original String :  My name is vishwajeet singh
No. of Upper case characters :  1
No. of Lower case Characters :  22

In [56]:
#29

string

'1 apples 2 men'

In [58]:
string.replace('men', "")

'1 apples 2 '

In [2]:
#30

a = "singhvishu035@gmail.com"

In [5]:
if a == "singhvishu035@gmail.com" :
    print("valid email id")
else :
    print("invalid email id")

valid email id

In [26]:
#31
def extract_username(email):
    username = email.split('@')[0]  
    return username

email = "singhvishu035@gmail.com"
result = extract_username(email)
print(result)

singhvishu035

In [27]:
#32

def extract_domain(email):
    domain = email.split('@')[1]  
    return domain


email = "singhvishu035@gmail.com"
result = extract_domain(email)
print(result)

gmail.com

In [31]:
#33

def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split()) 
    return cleaned_string

input_string = "My    name    is    vishwajeet singh"
result = replace_multiple_spaces(input_string)
print(result)

My name is vishwajeet singh

In [32]:
#34

from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False


url1 = "https://www.pwskills.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

In [34]:
#35

def extract_protocol(url):
   
    protocol_end = url.find("://")

    if protocol_end != -1:
     
        protocol = url[:protocol_end]
        return protocol
    else:
        return None


url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"


protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)


print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [36]:
#36

def character_frequency(input_string):
    frequency = {} 

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency


input_str = "vishwajeet singh"


char_freq = character_frequency(input_str)


for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'v', Frequency: 1
Character: 'i', Frequency: 2
Character: 's', Frequency: 2
Character: 'h', Frequency: 2
Character: 'w', Frequency: 1
Character: 'a', Frequency: 1
Character: 'j', Frequency: 1
Character: 'e', Frequency: 2
Character: 't', Frequency: 1
Character: ' ', Frequency: 1
Character: 'n', Frequency: 1
Character: 'g', Frequency: 1

In [39]:
#37

import string

def remove_punctuation(input_string):
   
    translator = str.maketrans("", "", string.punctuation)

   
    clean_string = input_string.translate(translator)

    return clean_string


input_str = "My name !! is vishwajeet singh??"


cleaned_str = remove_punctuation(input_str)


print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: My name !! is vishwajeet singh??
Cleaned string: My name  is vishwajeet singh

In [40]:
#38

def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()

# Example strings
string1 = "12345"
string2 = "singhvishu035@gmail.com"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'singhvishu035@gmail.com' contains only digits: False
'456.789' contains only digits: False

In [41]:
#39

def contains_only_alphabets(input_string):
    
    return input_string.isalpha()


string1 = "Hello"
string2 = "varanasi"
string3 = "12345"


result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)


print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'varanasi' contains only alphabets: True
'12345' contains only alphabets: False

In [42]:
#40

def string_to_list(input_string):
    
    char_list = list(input_string)
    return char_list


input_str = "Hello, world!"

char_list = string_to_list(input_str)

print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [46]:
#41

def are_anagrams(str1, str2):
    
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"


result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)


print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [4]:
#42

def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

 
  encoded_text = ""

  
  for char in text:
    
    if char.isalpha():
      
      
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      
      encoded_char = char

    
    encoded_text += encoded_char

  
  return encoded_text


text = "Hello, world!"
shift = 3


encoded_text = caesar_cipher(text, shift)


print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [5]:
#43

def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    
    decoded_text = ""

    
    for char in text:
        
        if char.isalpha():
            
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            
            decoded_char = char

        
        decoded_text += decoded_char

    
    return decoded_text


text = "lopp, zruog!"
shift = 3


decoded_text = caesar_cipher_decoder(text, shift)


print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [9]:
#44

import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [10]:
#45

import re

def unique_words(input_string):
    
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    
    words = set(clean_string.split())

    return words


input_str = "Hello world, hello there! How's the world?"


unique_word_set = unique_words(input_str)


print("Unique words:", unique_word_set)

Unique words: {'world', 'hello', 'there', 'hows', 'the'}

In [12]:
#46

import re

def count_syllables(word):
   
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)


word1 = "hello"
word2 = "banana"
word3 = "syllable"


syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)


print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [13]:
#47

import re

def contains_special_characters(input_string):
    
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    
    match = pattern.search(input_string)

    
    return bool(match)


string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"


result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [14]:
#48

def remove_nth_word(input_string, n):
    
    words = input_string.split()

    
    if n >= 1 and n <= len(words):
        
        removed_word = words.pop(n - 1)

        
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None


input_str = "This is an example sentence to test the function."
n_value = 4


modified_str, removed_word = remove_nth_word(input_str, n_value)


print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [2]:
#50

def csv_string_to_list(csv_string):
    
    lines = csv_string.split('\n')

    result = []

    for line in lines:
        
        fields = line.split(',')

        result.append(fields)

    return result

csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [3]:
#SET BASED QUESIONS

In [4]:
#1

integer_list = [i for i in range(1, 11)]

print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#2

def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

my_list = [10, 20, 30, 40, 50]

length = custom_len(my_list)

print("Length of the list:", length)

Length of the list: 5

In [8]:
#3

my_list = [10, 20, 30]

new_element = 40

my_list.append(new_element)

print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

In [9]:
#4
my_list = [10, 20, 30, 40, 50]

new_element = 25

index_to_insert = 2

my_list.insert(index_to_insert, new_element)

print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

In [10]:
#5

my_list = [10, 20, 30, 40, 50]

element_to_remove = 30

my_list.remove(element_to_remove)

print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

In [11]:
#6

my_list = [10, 20, 30, 40, 50]

index_to_remove = 2

removed_element = my_list.pop(index_to_remove)

print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 40, 50]
Removed element: 30

In [2]:
#7

my_list = [10, 20, 30, 40, 50]

element_to_check = 30

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

In [3]:
#8

my_list = [10, 20, 30, 40, 50, 30]

element_to_find = 30

index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

In [4]:
#9

my_list = [10, 20, 30, 40, 50, 30, 30]

element_to_count = 30

count = my_list.count(element_to_count)

print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

In [5]:
#10

my_list = [10, 20, 30, 40, 50]

my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [6]:
#11

my_list = [50, 10, 30, 40, 20]

my_list.sort()

print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [7]:
#12

my_list = [50, 10, 30, 40, 20]

my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [8]:
#13

even_numbers = [x for x in range(2, 21, 2)]

print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
#14

odd_numbers = [x for x in range(1, 21, 2)]

print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
#15

my_list = [10, 20, 30, 40, 50]

total_sum = sum(my_list)

print("Sum of elements:", total_sum)

Sum of elements: 150

In [11]:
#16

my_list = [10, 20, 30, 40, 50]

max_value = max(my_list)

print("Maximum value:", max_value)

Maximum value: 50

In [12]:
#17

my_list = [10, 20, 30, 40, 50]

min_value = min(my_list)

print("Minimum value:", min_value)

Minimum value: 10

In [13]:
#18

squares = [x ** 2 for x in range(1, 11)]

print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
#19
import random

random_integers = [random.randint(1, 100) for _ in range(10)]

print("List of random integers:", random_integers)

List of random integers: [30, 81, 78, 27, 38, 34, 68, 60, 83, 40]

In [15]:
#20

my_list = [10, 20, 30, 20, 40, 10, 50, 30]

unique_list = list(set(my_list))

print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

In [16]:
#22

list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1).difference(list2))

print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [17]:
#23
list1 = [10, 20, 30]
list2 = [40, 50, 60]

merged_list = list1 + list2

print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [18]:
#24

my_list = [10, 20, 30, 40, 50]

multiplied_list = [x * 2 for x in my_list]

print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [19]:
#26
string_list = ["10", "20", "30", "40", "50"]

integer_list = [int(x) for x in string_list]

print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [20]:
#27

integer_list = [10, 20, 30, 40, 50]

string_list = [str(x) for x in integer_list]

print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [21]:
#28

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#29

def generate_fibonacci(n):
    fibonacci_list = [0, 1]  

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

fibonacci_numbers = generate_fibonacci(2)

print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [23]:
#30
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [10, 20, 30, 40, 50]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [24]:
#31
def rotate_left(lst, n):
    n = n % len(lst)  
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

n = 2

rotated_list = rotate_left(my_list, n)


print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [25]:
#32

def rotate_right(lst, n):
    n = n % len(lst)  
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

n = 2

rotated_list = rotate_right(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [26]:
#33

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

prime_numbers = [num for num in range(2,30) if is_prime(num)]

print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [27]:
#34

def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

prime_numbers = sieve_of_eratosthenes(50)

print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [28]:
#35

my_list = [10, 5, 20, 15, 30, 25]

sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [29]:
#36

my_list = [2, 4, 6, 8, 10]

squared_list = [x ** 2 for x in my_list]

print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [2]:
#37

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

my_dict = {element: index for index, element in enumerate(my_list)}

print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [3]:
#38

import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [2, 9, 1, 6, 8, 10, 7, 4, 5, 3]

In [4]:
#39

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [5]:
#40

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [6]:
#41

my_list = [1, 2, 3, 4, 5]

my_list.clear()

print("Empty list:", my_list)

Empty list: []

In [7]:
#42

my_list = [10, -5, 20, -15, 30, -25]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [8]:
#43

my_string = "Hello, this is a sample sentence."

word_list = my_string.split()

print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [9]:
#44

word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

my_string = " ".join(word_list)

print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [10]:
#45

n = 5
power_list = [2 ** i for i in range(n)]

print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [11]:
#46

string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: elderberry

In [12]:
#47
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = string_list[0]  
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

print("Shortest string:", shortest_string)

Shortest string: date

In [13]:
#48

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5

triangular_list = triangular_numbers(n)

print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [14]:
#49

def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]


if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [15]:
#50

my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [17]:
# Tuple based questions

In [23]:
#1

my_tuple = (1, 2, 3, 4, 5)

print(my_tuple)

(1, 2, 3, 4, 5)

In [19]:
#2

my_tuple = (10, 20, 30, 40, 50)

third_element = my_tuple[2]

print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [24]:
#3

my_tuple = (10, 20, 30, 40, 50)

count = 0

for _ in my_tuple:
    count += 1

print("The length of the tuple is:", count)

The length of the tuple is: 5

In [25]:
#4

my_tuple = (10, 20, 30, 20, 40, 50, 20)

element_to_count = 20

count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

In [26]:
#5

my_tuple = (10, 20, 30, 20, 40, 50)

element_to_find = 20
index = -1  

for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  

if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [27]:
#6

my_tuple = (10, 20, 30, 40, 50)

element_to_check = 30

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [28]:
#7
my_tuple = (10, 20, 30, 40, 50)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [29]:
#8

my_list = [10, 20, 30, 40, 50]

my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [30]:
#9

my_tuple = (10, 20, 30)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [31]:
#10
even_numbers_list = [num for num in range(2, 11, 2)]  

even_numbers_tuple = tuple(even_numbers_list)

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [32]:
#11
even_numbers_list = [num for num in range(2, 11, 2)]  


even_numbers_tuple = tuple(even_numbers_list)


print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [33]:
#12

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [34]:
#13

original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [35]:
#14

empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [36]:
#15

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [37]:
#16

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

first_element = nested_tuple[0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [38]:
#17
single_element_tuple = (42,)  

print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [39]:
#18


tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [47]:
#19

my_tuple = (1, 2, 3, 4, 5)

del my_tuple

print(my_tuple)

NameError: name 'my_tuple' is not defined

In [48]:
#20
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


sliced_tuple = my_tuple[2:6]  

print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [49]:
#21

my_tuple = (10, 20, 5, 45, 30)

max_value = max(my_tuple)

print("Maximum value:", max_value)

Maximum value: 45

In [50]:
#22

my_tuple = (10, 20, 5, 45, 30)

min_value = min(my_tuple)

print("Minimum value:", min_value)

Minimum value: 5

In [51]:
#23

my_string = "Hello, World!"

tuple_of_characters = tuple(my_string)

print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [52]:
#24

tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

string_from_tuple = ''.join(tuple_of_characters)

print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [53]:
#25

mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

In [54]:
#26

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [55]:
#27

my_tuple = (5, 2, 8, 1, 3)

sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [56]:
#28
tuple_of_integers = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [57]:
#29
tuple_of_strings = ('10', '20', '30', '40', '50')

tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [58]:
#30

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [59]:
#31
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [60]:
#32
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]


prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [62]:
#33
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [63]:
#34
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [64]:
#35

original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [65]:
#36
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(num * 2 for num in original_tuple)

print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [66]:
#37

import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10)) 

print("Random tuple:", random_tuple)

Random tuple: (97, 70, 47, 69, 28, 7, 46, 54, 24, 36)

In [67]:
#38
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [68]:
#39

def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple


my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [69]:
#40

def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]  
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [70]:
#41

def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci)  


fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [72]:
#42

input_str = input("Enter elements separated by commas: ")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter elements separated by commas:  vi,s,h,f,s,g,h,f,s,f,h,l

User input tuple: ('vi', 's', 'h', 'f', 's', 'g', 'h', 'f', 's', 'f', 'h', 'l')

In [73]:
#43

my_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [74]:
#44
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [75]:
#45
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [76]:
#46
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: watermelon

In [77]:
#47
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

shortest_string = min(string_tuple, key=len)

print("Shortest string:", shortest_string)

Shortest string: kiwi

In [78]:
#48

n = 5

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [79]:
#49

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [80]:
#50

n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [81]:
# SET BASED QUESTIONS

In [82]:
#1

my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

In [83]:
#2
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

element_to_add = 6
my_set.add(element_to_add)

print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [84]:
#3
my_set = {1, 2, 3, 4, 5}

print("Original Set:", my_set)

element_to_remove = 3

my_set.remove(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [85]:
#4
my_set = {1, 3, 5, 7, 9}

element_to_check = int(input("Enter the element to check: "))

if element_to_check in my_set:
   
    print(f"{element_to_check} exists in the set.")
else:
    
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  99

99 does not exist in the set.

In [86]:
#5

my_set = {1, 2, 3, 4, 5}

count = 0

for _ in my_set:
    
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [87]:
#6

my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

my_set.clear()

print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [88]:
#7

even_numbers_set = set()

for num in range(1, 11):
    
    if num % 2 == 0:
        
        even_numbers_set.add(num)

print(even_numbers_set)

{2, 4, 6, 8, 10}

In [89]:
#8

odd_numbers_set = set()

for num in range(1, 11):
    
    if num % 2 != 0:
        
        odd_numbers_set.add(num)

print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [90]:
#9

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1.union(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [91]:
#10

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_result = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [92]:
#11


set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [93]:
#12

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [94]:
#13

set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [95]:
#14

my_list = [2, 4, 1, 4, 3, 2, 5]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [96]:
#15

my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

my_list = list(my_set)


print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [98]:
#16
import random  

my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 1 : {2, 3, 4, 5}

In [99]:
#17

my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

popped_element = my_set.pop()

print("Popped element:", popped_element)

print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [100]:
#18
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [102]:
#19

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [103]:
#20

set1 = {1, 2, 3}
print("Set 1:", set1)

set2 = {3, 4, 5}
print("Set 2:", set2)

set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [105]:
#21

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True


prime_set = set()


num = 2


while len(prime_set) < 5:
    
    if is_prime(num):
        
        prime_set.add(num)

    
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [106]:
#22

set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  


if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [107]:
#23

elements = [1, 2, 3, 4, 5]

my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [108]:
#24

set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [109]:
#25

squares_set = set()

for num in range(1, 6):
    
    square = num ** 2

    
    squares_set.add(square)

print(squares_set)

{1, 4, 9, 16, 25}

In [110]:
#26
original_set = {1, 2, 3, 4, 5}

even_numbers_set = set()

for num in original_set:
   
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [111]:
#27
original_set = {1, 2, 3, 4, 5}

multiplied_set = set()

for num in original_set:
    
    multiplied_num = num * 2

    multiplied_set.add(multiplied_num)


print("Original Set:", original_set)

print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [112]:
#28
import random


num_random_numbers = 5

random_number_set = set()

for _ in range(num_random_numbers):
    
    random_num = random.randint(1, 100)  
    
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {18, 83, 84, 52, 31}

In [113]:
#29

my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [114]:
#30

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [115]:
#31

my_set = {1, 2, 3, 4, 5}

print("Initial set:", my_set)

element_to_remove = 3

my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [116]:
#32
et1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [117]:
#33
input_string = "hello"

char_set = set(input_string)

print(char_set)

{'e', 'h', 'l', 'o'}

In [118]:
#34

string_set = {"123", "456", "789"}

integer_set = set()

for string in string_set:
    
    integer_value = int(string)

   
    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '123', '456'}
Converted Integer Set: {456, 123, 789}

In [119]:
#35

integers_set = {1, 2, 3, 4, 5}

strings_set = set()

for num in integers_set:
    
    num_str = str(num)

    
    strings_set.add(num_str)

print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '4', '5', '1', '2'}

In [120]:
#36
input_tuple = (1, 2, 3, 2, 4, 5, 1)

output_set = set(input_tuple)

print(output_set)

{1, 2, 3, 4, 5}

In [121]:
#37
input_set = {1, 2, 3, 4, 5}

output_tuple = tuple(input_set)

print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [122]:
#38

my_set = {15, 7, 22, 13, 8}

max_value = None

for num in my_set:
   
    if max_value is None or num > max_value:
        max_value = num  

print("Maximum value:", max_value)

Maximum value: 22

In [123]:
#39
number_set = {15, 8, 23, 4, 42, 11}

min_value = None

for num in number_set:
    
    if min_value is None or num < min_value:
        
        min_value = num

print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [124]:
#40

user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break  

    
    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  vishwajeet, singh, python, done
>  done

Final set: {'vishwajeet, singh, python, done'}

In [125]:
#41

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [126]:
#42

fibonacci_set = set()

a, b = 0, 1

for _ in range(6):
    
    fibonacci_set.add(a)

    
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [127]:
#43
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)

unique_list = list(unique_set)

print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [128]:
#44

def have_same_elements(set1, set2):
    
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

   
    return sorted_list1 == sorted_list2


set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [131]:
#45
def generate_powers_of_2(n):
   
    powers_of_2 = set()

   
    for i in range(n):

        power = 2 ** i

       
        powers_of_2.add(power)


    return powers_of_2


n = 5

powers_set = generate_powers_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

In [134]:
#46

my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
    
    if element in list_to_set:
        
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [135]:
#47
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number) 
    return triangular_numbers

n = int(input("Enter the value of n: "))

triangular_set = generate_triangular_numbers(n)

print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [136]:
#48

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [137]:
#49
def create_alternating_set(n):
   
    alternating_set = set()

  
    for i in range(n):
        
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0)  

    return alternating_set

length_n = 10

result = create_alternating_set(length_n)

print(result)

{0, 1}

In [138]:
#50

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}